<div class="sb-slidebar bg-black sb-right sb-style-overlay">
    <div class="scrollable-content scrollable-slim-sidebar">
        <div class="pad15A">
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-6" class="popover-title">Условные обозначения
                (Платежи) <span class="caret"></span></a>
            <div id="sidebar-toggle-6" class="collapse in">
                <ul class="files-box">
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>Счет (ИНТ)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Номер счета за услуги Интернет
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>Счет (ТЛФ)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Номер счета за услуги Телефонии
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>ИНТ (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж абон. плата за Интернет
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>АБМТ (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж абон. плата за Местную Телефонную связь
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>МГМН (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж за услуги МГ/МН связи
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>ОБРД (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж за приобретенное оборудование
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>ПРУ (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж за переустановку телефона
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>ИНОЕ (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Платеж за прочие услуги
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-red icon-info-circle"></i>
                        <div class="files-content">
                            <b>НЕУЧТ (Платежи)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Неизвестные платежи (невозможно провести)
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-6" class="popover-title">Условные обозначения
                (Счета клиентов) <span class="caret"></span></a>
            <div id="sidebar-toggle-6" class="collapse in">
                <ul class="files-box">
                    <li>
                        <i class="files-icon glyph-icon font-red icon-info-circle"></i>
                        <div class="files-content">
                            <b>НЗВ (Статус номера счета клиента)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Невозможно определить номер счета
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>НЕТ (Статус номера счета клиента)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Нет счета по конкретной услуге
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-info-circle"></i>
                        <div class="files-content">
                            <b>ИГН (Статус номера счета клиента)</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-hand-o-right"></i>
                                Проигнорировать наличие счета по услуге
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-6" class="popover-title">Последние файлы
                отчетов <span class="caret"></span></a>
            <div id="sidebar-toggle-6" class="collapse in">
                <ul class="files-box">
                    {% for report in reports %}
                    <li>
                        <i class="files-icon glyph-icon font-green icon-file-word-o"></i>
                        <div class="files-content">
                            <b>{{ report.name_report }}.csv</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-clock-o"></i> создан <b>{{ report.creation_date }}</b>
                            </div>
                        </div>
                        <div class="files-buttons">
                            <a href="#" class="btn btn-xs hover-info tooltip-button btn-download" id="{{ report.id }}" data-placement="left" title="Загрузить">
                                <i class="glyph-icon icon-cloud-download"></i>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>